body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #F6E3BA;
    color: #0a0c0c;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #DFCAA0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    min-height: 100px;
}

button[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px auto; /* Centered and margin added */
    width: 100px; /* Increased width */
}

button[type="submit"]:hover {
    background-color: #000000;
}

#ideasWall {
    margin-top: 20px;
}

#ideasWall div {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#ideasWall h3 {
    color: #c3ae7e;
    margin-top: 0;
}

#ideasWall p {
    margin: 5px 0;
}

#ideasWall hr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 15px 0;
}

#home {
    text-align: center;
    padding: 50px 0;
}

#home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

#submit, #ideasWall{
    padding-top: 50px;
}